{
    local_certs
}

{$HOME_HOST} {
    reverse_proxy homepage:3000
}

{$VAULT_HOST} {
    reverse_proxy vaultwarden:80
}

{$GITEA_HOST} {
    reverse_proxy gitea:3000
}

{$GRAFANA_HOST} {
    reverse_proxy grafana:3000
}
