{
    auto_https off
}

:80 {
    @vault host vault.localhost
    reverse_proxy @vault vaultwarden:80

    @grafana host grafana.localhost
    reverse_proxy @grafana grafana:3000

    @gitea host gitea.localhost
    reverse_proxy @gitea gitea:3000
}
